.modal-dialog {
  /* font-size: 80%; */
}

.btn-save {
  float: right;
}

.form-control {
  /* font-size: 80% !important; */
  border: 0.03rem solid hsla(0, 0%, 50%, 0.5);
}

button.form-control,
input.form-control,
optgroup.form-control,
select.form-control,
textarea.form-control {
  font-size: 80% !important;
}

label {
  /* font-size: 80% !important; */
}

.btn-primary {
  color: white;
  background-color: hsla(0, 0%, 50%, 0.85) !important;
  border-color: hsla(0, 0%, 50%, 0.85) !important;
  border: none;
  outline: none;
}

.btn-primary:hover {
  color: var(--primary-dk);
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
  border: none;
}
