@import url('https://fonts.googleapis.com/css?family=Comfortaa|Patua+One');

body {
  margin: 0;
  padding: 1em 1.25em;
  font-family: 'Comfortaa', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: rgb(255, 194, 194);
  --primary-dk: rgb(152, 17, 17);
  --primary-lt: rgb(255, 239, 239);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.25rem;
  color: var(--primary-dk);
  font-family: 'Patua One', serif;
  letter-spacing: 0.05ch;
}

body h3 {
  /* border-bottom: 1px dotted var(--primary); */
}

p,
ol,
ul,
li {
  font-size: 0.75rem;
  margin: 0 0 0.5rem;
}

p:first-of-type,
ol:first-of-type,
ul:first-of-type,
li:first-of-type {
  margin-top: 0rem;
}

p:last-of-type,
ol:last-of-type,
ul:last-of-type,
li:last-of-type {
  margin-bottom: 0rem;
}

.animals,
.employees,
.locations,
.customers {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 0;
  margin-bottom: 1.5rem;
}

.animal,
.employee,
.location,
.customer {
  padding: 0.5rem 0.75rem;
  background: var(--primary-lt);
  border-radius: 3px;
  background: linear-gradient(
    180deg,
    var(--primary-lt) 0%,
    var(--primary-lt) 60%,
    var(--primary) 100%
  );
}
